* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 960px;
  margin: 15em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.date {
  color: white;
  display: flex;
  font-size: 50px;
}

.time {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  height: 200px;
  width: 200px;
  color: white;
}